/* play-regular - latin */
@font-face {
  font-display: swap;
  font-family: 'Play';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/play-v19-latin-regular.woff2') format('woff2');
}
/* play-700 - latin */
@font-face {
  font-display: swap;
  font-family: 'Play';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/play-v19-latin-700.woff2') format('woff2');
}
/* roboto-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/roboto-v30-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* roboto-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/roboto-v30-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/** Base settings */
:root {
  --color-primary-light: #ffffff;
  --color-primary-brand: #2b7fff;
  --color-primary-dark: #011c44;
  --color-secondary-c1: #4a4a4a;
  --color-secondary-c2: #747272;
  --color-secondary-c3: #011f4a;
  --color-secondary-c4: #ffd02b;
}

/* Page global */
body {
  color: var(--color-primary-dark);
  font-family: Roboto;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
}

ul {
  list-style: none;
}

/* Buttons section*/
.button {
  border-radius: 32px;
  background-color: var(--color-primary-brand);
  color: var(--color-primary-light);
  border-radius: 32px;
  border: 2px solid #2b7fff;
}

.button:hover {
  background-color: transparent;
  color: var(--color-primary-dark);
}

/* Navigation section */
.nav-link {
  font-weight: 400;
  color: var(--color-primary-dark);
  text-decoration: none;
}
.nav-link:hover {
  font-weight: 700;
  color: var(--color-primary-brand);
}

/* Hero section */
.hero-title {
  color: var(--color-primary-brand);
  font-family: Play;
  font-size: 140px;
  font-weight: 700;
  line-height: 81.5%;
  text-transform: capitalize;
}

.hero-text {
  color: var(--color-secondary-c1);
  text-align: center;
  font-size: 12px;
  line-height: 150%;
}

/* Intro section */

.intro-title {
  font-family: Play;
  font-size: 64px;
  font-weight: 700;
}

.intro-title .accent {
  color: var(--color-primary-brand);
  text-transform: capitalize;
}

.intro-text {
  font-size: 22px;
  font-weight: 400;
  line-height: 173%;
}

.intro-text .accent {
  font-weight: 600;
  text-transform: capitalize;
}

/* WhyUs */

.whyUs-title {
  font-family: Play;
  font-size: 64px;
  font-weight: 700;
}

.whyUs-title .accent {
  color: var(--color-primary-brand);
}

.whyUs-text {
  color: #000;
  text-align: center;
  font-size: 18px;
  line-height: height 133%;
}

/* ourProcedures section*/

.ourProcedures-title {
  color: var(--color-primary-dark);
  text-align: center;
  font-family: Play;
  font-size: 64px;
  font-weight: 700;
}

.ourProcedures-title .accent {
  color: var(--color-primary-brand);
}

/* Contacts section */

.contacts-title {
  color: var(--color-primary-dark);
  text-align: center;
  font-family: Play;
  font-size: 64px;
  font-weight: 700;
}

.contacts-title .accent {
  color: var(--color-primary-brand);
}

.contacts-text {
  font-weight: 600;
}

.contacts-text .accent {
  color: var(--color-primary-brand);
}

.contacts-deal {
  color: var(--color-secondary-c2);
  text-align: center;
  font-size: 12px;
  line-height: 150%; /* 150% */
}

.contacts-deal .accent {
  color: var(--color-secondary-c2);
  text-decoration-line: underline;
}

/* Footer */
.footer-link {
  color: var(--color-primary-light);
  font-size: 16px;
  text-decoration: none;
}

.footer-link:hover {
  color: var(--color-primary-brand);
}

.footer-copyright {
  color: var(--color-secondary-c2);
  font-size: 13px;
}
